*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    font-family:Arial, Helvetica, sans-serif;
    outline:none;
}
.container{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color:#ecf0f3;
    padding: 15px;
    border-radius:30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                      5px 5px 12px rgba(0,0,0,.16);
    display:grid;
    grid-template-columns:repeat(4,68px);

}
input{
    grid-column:span 4;
    height:70px;
    width:260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset  5px  5px 12px  rgba(0,0,0,.16);
    margin-top:40px;
    margin-bottom:30px;
    border:none; 
    border-radius:20px; 
    font-size:50px; 
    text-align:end;        
    padding:20px;

}    
button{
    height:48px;
    width:48px;
    margin:8px;
    border:none;
    box-shadow: inset -5px -5px 12px #ffffff,
                       5px  5px 12px rgba(0,0,0,.16);
    font-size:20px;  
    background-color: #ecf0f3;  
    border-radius:50%;            
}   
button:hover{
    
    background-color:red;
    color:yellow;
} 
.equal{
    width:100px;
    height:50px;
    border-radius:10px;

}  
.index{
    text-align:center;
    border-radius:5px;
    margin-top:50px;  
    background-color:red; 
    box-shadow: inset -5px -5px 12px  gold,
                inset  5px  5px 12px  rgba(0,0,0,.16);
    width:400px;
    height:50px; 
    margin-left:450px;
    border-radius:50px; 
    border:none;                 
}  
p{
    text-align: center;
    padding-top:30px;
    margin-left:20px;
    margin-right:20px;

}
.icon{
     height:50px;
     width:50px;
     display:flex;
     flex-direction: row;
    
     box-shadow: inset -5px -5px 10px #ffffff,
                 inset  5px  5px 12px rgba(0,0,0,.16);
     border:solid 5px    
     
}

.navbar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;padding-left: 15px;
}
.navdiv{
    display: flex; align-items:center; justify-content: space-between;

}
.log a{
    font-size :35px;font-weight: 600;color:white;
}
li{
    list-style: none; display:inline-block;
}
li a{
    color:black;font-size: 18px;font-weight: bold; margin-right: 25px;
}